*{
  scrollbar-color: rgb(82, 82, 82) transparent;
  scrollbar-width: thin;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(30,30,30);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.emphasis{
  background: linear-gradient(90deg, rgb(13, 202, 240),  rgb(0, 255, 136), rgb(13, 202, 240));
  background-clip: text;
  color: transparent;
}

.top {
  background: rgb(30,30,30);
  animation: borderPlay ease forwards;
  box-shadow: 0px 50px 50px 1px black;
  animation-timeline: view(0% 80%);
  height: 100dvh;
  width: 100dvw;
  position: relative;
  z-index: 2;
}

.info{
  border-left: 2px dashed gray;
  border-radius: 7px;
}

.name{
  position: relative;
  font-size: 6em;
  color: rgb(30,30,30);
  animation: backgroundHighlight 7s 1s ease-in-out forwards;
}
.name::after{
  content: "";
  position: relative;
  display: block;
  top: -35px;
  height: 4px;
  background-image: linear-gradient(to right, white 100%, transparent 0%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: left center;
  animation: lineGrow 2s 7.5s forwards;
}

.devtext-container{
  width:min-content;
}

.devtext{
  font-size: 1.3em;
  overflow: hidden;
  border-right: .15em solid transparent;
  white-space: nowrap;
  margin: 0;
  width: 0;
  animation: typeWriter 3s 8.5s steps(40, end) forwards, blinkingLine 750ms 8s step-end 7;
}

.buttonCV{
  background-color: transparent;
  color: white;
  border: .5px solid gray;
  border-radius: 5px;
  font-size: 1.2em;
  transition: 1s ease;
&:hover {
  font-size: 1.6em;
  border: 1px solid white;
  transition: 1s ease;
}
}

.buttonWA{
  background: linear-gradient(90deg, rgb(37, 211, 102) 1%, rgb(18, 140, 126));
  fill: white;
  color: white;
  border: 0px;
  border-radius: 5px;
  font-size: 1.15em;
  transition: 1s ease;
&:hover {
  font-size: 1.6em;
  transition: 1s ease;
}
}

.time-awake{
  font-size: 2em;
}

.awake{
  background: linear-gradient(90deg, rgb(13, 202, 240),rgb(13, 202, 240),  rgb(0, 255, 136));
  background-clip: text;
  color: transparent;
}

.asleep{
  background: linear-gradient(90deg, rgb(240, 13, 13),  rgb(240, 13, 13),  rgb(119, 0, 255));
  background-clip: text;
  color: transparent;
}

.arrow {
  animation: arrowAppears 4s 1 forwards, arrowBumps 2s 4s infinite alternate;
  cursor: pointer;
  box-sizing: border-box;
  height: 7vw;
  width: 7vw;
  opacity: 0;
  border-style: solid;
  border-color: gray;
  border-width: 0px 5px 5px 0px;
  transition: 1s ease;
}

.animated {
  animation: autoShow ease forwards;
  animation-timeline: view(-250%);
}

.protitle{
  font-size: 10em;
  margin: 0;
  padding: 0;
}

/* Frames */

@keyframes autoShow{
  0%{
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }

  50%{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100%{
    opacity: 0;
    transform: translateY(-200px) scale(0.3);
  }
}

@keyframes typeWriter {
  0% { width: 0 }
  100% {width: 100%}
}

@keyframes blinkingLine{
  from, to { border-color: cyan }
  50% { border-color: transparent; }
}

@keyframes arrowAppears{
  0%{
    opacity: 0;
    transform: translateY(-250px) rotate(270deg);
    user-select: none;
    pointer-events: none;
    }

  25%{
    opacity: 1;
    transform: translateY(-50px) rotate(45deg);
    user-select: none;
    pointer-events: none;
    }

  50%{
    opacity: 1;
    transform: translateY(0px) rotate(45deg);
    border-width: 0px 2px 2px 0px;
    border-radius: 5px;
    border-color: white;
    }

  75%{
    opacity: 1;
    transform: translateY(-50px) rotate(45deg);
    border-color: gray;
    border-width: 0px 5px 5px 0px;
    border-radius: 0px;
    }

  100%{
    opacity: 1;
    transform: translateY(-50px) rotate(45deg);
    }
}

@keyframes arrowBumps {
  0%{
    opacity: 1;
    transform: translateY(-50px) rotate(45deg);
    }
  100%{
    opacity: 1;
    transform: translateY(0px) rotate(45deg);
    border-width: 0px 2px 2px 0px;
    border-radius: 5px;
    border-color: white;
    }

}

@keyframes borderPlay {
  0%{
    border-bottom: 30px solid rgb(17, 17, 17);
    }
  50%{
    border-bottom: 200px solid rgb(17, 17, 17);
    }
  100%{
    border-bottom: 30px solid rgb(17, 17, 17);
    }
}

@keyframes backgroundHighlight {
  0%{
    font-size: 6em;
    color: transparent;
    background-image: linear-gradient(90deg, rgb(13, 202, 240),  rgb(0, 255, 136), rgb(13, 202, 240));
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 0% 100%;
    background-clip: text;
  }
  10% {
    color: transparent;
    background-image: linear-gradient(90deg, rgb(13, 202, 240),  rgb(0, 255, 136), rgb(13, 202, 240));
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left center;
    background-clip: text;
  }
  20%{
    color: transparent;
    background-image: linear-gradient(90deg, rgb(13, 202, 240),  rgb(0, 255, 136), rgb(13, 202, 240));
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left center;
    background-clip: text;
  }
  30%{
    color: transparent;
    background-image: linear-gradient(90deg, rgb(13, 202, 240),  rgb(0, 255, 136), rgb(13, 202, 240));
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left center;
    background-clip: text;
  }
  40%{
    color: transparent;
    background-image: linear-gradient(90deg, rgb(13, 202, 240),  rgb(0, 255, 136), rgb(13, 202, 240));
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left center;
    background-clip: text;
  }
  50%{
    color: transparent;
    background-image: linear-gradient(90deg, rgb(13, 202, 240),  rgb(0, 255, 136), rgb(13, 202, 240));
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100% 100%;
    background-clip: text;
  }
  60%{
    color: transparent;
    background-image: linear-gradient(90deg, rgb(13, 202, 240),  rgb(0, 255, 136), rgb(13, 202, 240));
    background-color: white;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100% 100%;
    background-clip: text;
  }
  70%{
    color: transparent;
    background-image: linear-gradient(90deg, rgb(13, 202, 240),  rgb(0, 255, 136), rgb(13, 202, 240));
    background-color: white;
    background-repeat: no-repeat;
    background-position: left center;
    background-clip: text;
  }
  80%{
    color: transparent;
    background-image: linear-gradient(90deg, rgb(13, 202, 240),  rgb(0, 255, 136), rgb(13, 202, 240));
    background-color: white;
    background-repeat: no-repeat;
    background-position: left center;
    background-clip: text;
  }
  90%{
    color: transparent;
    background-color: white;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 0% 100%;
    background-clip: text;
  }
  100%{
    color: white;
    background-color: white;
    background-clip: text;
  }
}

@keyframes lineGrow {
  0%{background-size: 0% 100%; background-image: linear-gradient(90deg, rgb(13, 202, 240),  rgb(0, 255, 136), rgb(13, 202, 240));}
  100%{background-size: 100% 100%; background-image: linear-gradient(90deg, rgb(13, 202, 240),  rgb(0, 255, 136), rgb(13, 202, 240)); }
}