.card-container {
    perspective: 500px;
    cursor: pointer;
}

.card {
    transition: 1s ease;
    background-color: rgb(36, 36, 36);
    transform-style: preserve-3d;
    width: 440px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 1px black;
}

.cards-container:hover .card{
    transform: rotateY( 180deg );
    transition: 1s ease;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
}

.back {
    transform: rotateY( 180deg );
}

.front img {
  max-width: 600px;
  max-height: 600px;
  border-radius: 25px;
  animation: peekTop 3s ease infinite alternate;
}

.hover-text{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.loc-text{
    color: white;
    font-size: 1.2em;
}

.card-back-text{
  background: linear-gradient(90deg, rgb(13, 202, 240),  rgb(0, 255, 136), rgb(13, 202, 240));
  background-clip: text;
  color: transparent;
   font-size: 2em;
}

.softies{
    color: white;
    font-size: 1.5em;
}

.softie-left{
    list-style: none;
}

.softie-right{
    list-style: none;
}

@keyframes peekTop{
    0%{border-top-right-radius: 25px;}
    100%{border-top-right-radius: 100px;}
}