.navbar {
  box-shadow: 2px 0px 15px 5px black;
  width: 100dvw;
}

.navbar-text {
  font-size: 1.3rem;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(13, 202, 240),  rgb(0, 255, 136), rgb(13, 202, 240));
  background-clip: text;
  transition: 1s ease;
  color: white;
  &:hover {
    transition: 1s ease;
    color: transparent;
  }
}