.slide-text{
  font-size: 2em;
}

.slider {
	border-radius: 7px;
	box-shadow: 5px 5px 6px 1px black;
	padding: 15px;
	width: 900px;
}

.slide-track {
		animation: scroll 60s linear infinite;
		display: flex;
		width: calc(100px * 28);
	}
	
.slide img {
    object-fit: contain;
	height: 75px;
	width: 100px;
	cursor: pointer;
	transition: ease 1s .5s;
	filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.7));
	}

.slide img:hover{
	height: 95px;
	transition: ease 1s;
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-100px * 14))}
}